__pycache__/*
tests/__pycache__/*
src/index_safe/__pycache__/*
src/index_safe.egg-info/*
.DS_Store
tests/credentials.json
**/*.tiff
**/*.gz
**/*.gzidx
**/*.dflidx
**/*.bstidx
**/*.zip
**/*.xml
**/*.csv
